$cell-size: 5vw;
$cell-size-half: $cell-size / 2;
$cell-size-quarter: $cell-size / 4;
$board-color-blue: #0173D3;
$background-color-main: #312E2B;

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 7 * $cell-size + $cell-size-quarter;
  height: 6 * $cell-size + $cell-size-quarter;
  background-color: $board-color-blue;
  padding: $cell-size-quarter / 2;
  border-radius: 5px;
}

.row {
  display: flex;
}

.cell-border {
  width: $cell-size;
  height: $cell-size;
  background-color: $board-color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-hole {
  width: $cell-size - $cell-size-quarter;
  height: $cell-size - $cell-size-quarter;
  border-radius: 50%;
  box-shadow: 0 0 0 5px $background-color-main;
}

.empty {
  background-color: $background-color-main;
}

.player-1 {
  background-color: yellow;
}

.player-2 {
  background-color: red;
}