$cell-size: 5vw;
$cell-shadow-size: $cell-size / 20;
$cell-size-half: $cell-size / 2;
$cell-size-quarter: $cell-size / 4;
$board-color-blue: #0173D3;
$background-color-main: #312E2B;
$bottom-width: 10vw;
$bottom-height: 5vh;

.player1-info-container {
  position: absolute;
  font-size: x-large;
  line-height: 5px;
  top: 20vh;
  left: 10vw;
}

.player2-info-container {
  position: absolute;
  font-size: x-large;
  line-height: 5px;
  top: 20vh;
  right: 10vw;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  margin: 0 15vw;
  width: 7 * $cell-size + $cell-size-quarter;
  height: 6 * $cell-size + $cell-size-quarter;
  background-color: $board-color-blue;
  padding: $cell-size-quarter / 2;
  border-radius: 5px;
}

.row {
  display: flex;
}

.cell-border {
  width: $cell-size;
  height: $cell-size;
  background-color: $board-color-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-hole {
  width: $cell-size - $cell-size-quarter;
  height: $cell-size - $cell-size-quarter;
  border-radius: 50%;
  box-shadow: 0 0 0 $cell-shadow-size $background-color-main;
}

.empty {
  background-color: $background-color-main;
}

.player-1 {
  background-color: red;
}

.player-2 {
  background-color: yellow;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  background-color: $board-color-blue;
  height: $bottom-height;
  width: $bottom-width;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid #000;
  text-decoration: none;
}
