$board-color-blue: #0173D3;
$background-color-main: #312E2B;
$bottom-width: 15vw;
$bottom-height: 5vh;

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 2vh;
}

.port-and-button-container {
  display: flex;
  height: $bottom-height;
}

label {
  font-size: x-large;
}

input {
  width: $bottom-width / 2;
  height: $bottom-height;
  margin-right: 1vw;
  border: none;
  text-align: center;
  font-size: large;
}

.player-port {
  display: flex;
}

.connect-button {
  background-color: $board-color-blue;
  height: $bottom-height;
  width: $bottom-width;
  color: white;
  font-size: large;
}

.play-button-container {
  display: flex;
  justify-content: center;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  background-color: $board-color-blue;
  height: $bottom-height;
  width: $bottom-width;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid #000;
  text-decoration: none;
}